/* Template para emplear en el desarrollo web empleando Bootstrap 
   7mo. TEL - 2020 ; Camada 1420 ; 16/06/2020 */

/* Links de interés:
 * Colores:
 https://www.site24x7.com/es/tools/selector-de-codigo-color.html
 https://encycolorpedia.es/ -> Aquí puedo encontrar valores de colores de marcas características.
 https://www.htmlcsscolor.com/hex/CCA43D

 * Fit de imagen en el carousel:
 https://www.w3schools.com/css/css3_object-fit.asp

 * Edición de imagenes:
 https://www.iloveimg.com/es
*/

/* :root Selecciona el elemento raíz del documento,
   <html> en el caso de HTML. La pseudo-clase :root 
   de CSS selecciona el elemento raíz de un árbol que representa el documento. 
   :root puede ser útil para declarar variables CSS globales.
   https://developer.mozilla.org/es/docs/Web/CSS/:root */
   @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --main-bg-color: rgba(13, 195, 135, 0.8);
    --icons-color: rgb(168, 45, 34);
}

head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "..." */;
    font-size: larger;
    color: rgb(0, 0, 0);
}

/* ------- Estilos para el Header ------- */
.main-header{
background: var(--main-bg-color);
}
.main-header hr{
    border-color:var(--icons-color);
    margin: 0;
    border-width: medium;
}
.navbar-brand{
    font-family: Dancing Script;
}

/* ------ Estilos para el Carousel ------ */
.main-carousel{
margin: 400px;
}
.carousel-inner img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.carousel-caption h3{
    font-size: 300%;
    font-family:Dancing Script ;
    color: rgb(168, 45, 34);
}

/* ------ Estilos para el Welcome ------- */
.main-welcome{

}

/* ------- Estilos para los cards ------- */
.main-cards{

}

/* ------- Estilos para el footer ------- */
.main-footer{

}