@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

/*---------------------------------General---------------------*/

*{
  margin: 0px;
  font-family: "Architects Daughter";
  box-sizing: border-box;
}
/*---------------------------Main-header--------------------------*/
.main-header{
  background: linear-gradient(to bottom, #ff6600 0%, #990099 100%);
  background-size: cover;
  padding-bottom: 1px; 

}
/*------------------------------Nav------------------------------*/
.nav ul{
  margin: 0;
}

.nav li{
  display: inline;
  text-align: center;
}

.nav a{
  display:inline-block;
  padding: 1em;
  color: aliceblue;
  text-decoration: none;
}
.nav a:hover{
  background-color: rgba(165, 167, 166, 0.308);
}
.main-nav li{
  padding: 0 7%;
  /*border-bottom: green;
  border-width: 20px; */
  font-size: 1.25em;
}
.nombre{
  text-align: center;
  margin: 10px;
  font-family:Dancing Script ;
  font-weight: normal;
}
.nombre-principal{
  font-size: 2em;
  color: goldenrod;
}

/*-------------------------Secciones----------------*/
.seccion{
  width:0px 100%;  
  background-image: url("../public/Imagenes/space-2543838_1920.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, left, right;
  background-size: cover;
  color: aliceblue;
  height: auto;
}
.seccion img{
  width: 190px;
  border-radius: 50%;
  border: 2px solid gold;
  margin-inline-start: 35px;
  padding: 10px;
  /*background-color: whitesmoke;*/
  box-shadow: inset  0px 10px 10px gold, 0px 0px 20px rgba(251, 229, 22, 0.966);
  min-width: 200px;
}

.seccion img:hover{
  opacity: 0.7;
  transition-delay: 0.1s;
  
}

.seccion ul{
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;

}
.seccion p{
  margin-left:100px;
  margin-right:100px;
  text-align: justify;
  font-size: 1.25em;
  
  
  
}
.seccion h2{
  font-size: 3em;
  margin-left: 50px;
}
.allPages{
  background-image: url("../public/Imagenes/milky-way-2695569_1920.jpg");
}
.allPages img{
  display:flex;
  float: left;
  margin: 40px;
  width: 15em;
  border-radius: 50%;
  border: 2px solid gold;
  margin-inline-start: 35px;
  padding: 10px;
  /*background-color: whitesmoke;*/
  box-shadow: inset  0px 10px 10px gold, 0px 0px 20px rgba(251, 229, 22, 0.966);
}
.allPages p{
  padding:60px;
  color: aliceblue;
  font-size: 1.5em;
  font-family: Architects Daughter;
  text-align: justify;
  height: 3000px;
  background-color: rgba(13, 52, 97, 0.459);
  background-image: url("../public/Imagenes/space-2543838_1920.jpg");
}
.arreglos{
  height: 3000px;

}


/*--------------Footer------------------*/
.main-footer{
  background: linear-gradient(to bottom,#990099 10%, #ff6600 80% );
  align-self: bottom; 
  padding-bottom: 1px;
}
.main-footer-conteiner{
  display: flex;
 
}
.text-footer{
  color: gold;
  font-weight: lighter;
  font-size: medium;
  padding: 0px;
 
}
.main-footer-conteiner ul{
  flex-grow: 1;
  text-align: end;
}
.footer-nav img{
  max-height: 50px;
  float: right;
  padding: 5px;
}